.day-el {
  border:rgb(173, 171, 171) 1px solid;
  cursor: pointer;

  border-radius: 15px;
  padding: 5px;

  margin-inline: 5px;
  text-align: center;
  list-style: none;
  user-select: none;
  width: 35px;
}

.days-el {

  padding-right: 5px;

  display: flex;
  justify-content: space-between;

}

.days-el .day-el:hover {
  background-color: #e5e5e5;
}

.disabled-day-el{
  background-color: #858585;

  border-radius: 15px;
  padding: 5px;

  margin-inline: 5px;
  text-align: center;
  list-style: none;
  user-select: none;
  width: 35px;

}