.form{
  border: 1px #000 solid;
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
}

.field{
  width:110px
}
.field > * {
  display:inline;
}
input[type="radio"]{
  margin: 0 10px 0 10px;
}

.input-radio, .date-picker, .time-picker{
  margin: 20px;
}