//to make the submit button in centre
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs {
  border-radius: 10px;
  border: 3px solid #000;

  padding: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(auto-fill, 60px);
  grid-column-gap: 5rem;
  grid-row-gap: 1rem;
}

.radio-field {
  position: relative;
  bottom: 7px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid rgb(173, 171, 171);
}
.radio-field:hover {
  border: 1px solid black;
}
.radio-field:active {
  border: 1px solid #1565c0;
}

.radio-field > * {
  display: inline;
}
.radio-field > legend {
  font-size: 0.8em;
  color: rgb(105, 105, 105);
  padding-inline: 5px;
}

.radio-input {
  padding-bottom: 5px;
  margin-right: 20px;
}
input[type="radio"] {
  margin-right: 2px;
}

.btn-submit {
  position: relative;
  bottom: 15px;
  align-self: center;
  padding: 15px 25px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 30px;

  color: #fff;
  // border: #1565c0 solid 3px;
  // background-color: #1565c0;
  border: #000 solid 3px;
  background-color: #000;
}

.btn-submit:active {
  // color: #1565c0;
  // border: #1565c0 solid 3px;
  color: #000;
  border: #000 solid 3px;
  background-color: #ffffff;
}

.day {
  position: relative;
}

.day-picker {
  border-radius: 3px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 150px;

  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 100;
  background-color: #fff;

  text-align: center;
}

.day-fieldset {
  display: flex;
  justify-content: space-between;
}

.day-label {
  position: relative;
  top: 5px;
}
.day-btn {
  position: relative;
  bottom: 5px;
  left: 10px;

  border: none;
  background-color: #fff;

  color: #757575;
  width: 40px;
  height: 40px;
  padding: 10px 6px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  cursor: pointer;
}
.day-btn:hover {
  background-color: #f6f6f6;
}

.days-lst {
  position: relative;
  right: 15px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 50px);
  // grid-template-rows: repeat(2, 60px);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.days-lst li {
  border-radius: 15px;
  padding: 5px;
  display: inline;
  user-select: none;
  cursor: pointer;
}
.days-lst li:hover{
  background-color: #f6f6f6;
}