.radio-field {
  position: relative;
  bottom: 7px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid rgb(173, 171, 171);
}
.radio-field:hover {
  border: 1px solid black;
}
.radio-field:active {
  border: 1px solid #1565c0;
}

.radio-field > * {
  display: inline;
}
.radio-field > legend {
  font-size: 0.8em;
  color: rgb(105, 105, 105);
  padding-inline: 5px;
}

.day {
  position: relative;
}

.day-picker {
  border-radius: 3px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 150px;

  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 100;
  background-color: #fff;

  text-align: center;
}

.day-fieldset {
  display: flex;
  justify-content: space-between;
}

.day-label {
  position: relative;
  top: 5px;
}
.day-btn {
  position: relative;
  bottom: 5px;
  left: 10px;

  border: none;
  background-color: #fff;

  color: #757575;
  width: 40px;
  height: 40px;
  padding: 10px 6px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  cursor: pointer;
}
.day-btn:hover {
  background-color: #f6f6f6;
}
